ul {
    display: flex;
    flex-direction: row;
    gap: 0.8em;
    margin: 1.5em 2.5em;
}

.content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 3em;
    line-height: 0;
    background-color: rgba(0, 0, 0, 0.15);
    align-items: center;
    border: 0;
    padding: 1em;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: rgba(0, 0, 0, 0.5);
}
